*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: space-between;
    font-style: italic;
    margin-top: 1rem;
}
ul > li{
    display: inline;
    list-style: none;
    margin: 1rem;
}
.beef{
    display: flex;
    justify-content: space-between;
}
.boil{
    display: flex;
    justify-content: space-between;
}
.istock{
    display: flex;
    justify-content: space-between;
}
.wooden{
    display: flex;
    justify-content: space-between;
}